<div class="container">
  <div class="row">
    @for (item of Products; track item.Id;let i=$index ) {
    <div
      class="card p-1 m-1 col-4"
      style="width: 18rem" 
      [ngClass]="i % 3 == 0 ? 'row' : ''"
    >
      <img
        src="../../assets/images/{{ item.Image }}"
        class="card-img-top"
        style="height: 10rem"
        alt="..."
      />
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
           <h3 class="card-title">{{ item.Name }}</h3>
          <h5 class="card-title btn btn-primary text-light">
            {{ item.Price }}
          </h5>
        </div>
        <p class="card-text">
          {{ item.Description }}
        </p>
      </div>
    </div>
    }
    @empty {
      <h2 class="text-center text-dark">No Products</h2>
    }
  </div>
</div>
